.text {
  font-size: calc(2vw + 1rem);
}
.text-{
  font-size: calc(4vw + 1rem);
}
.hero-text h1{
  font-family:"SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  font-weight: 550;
}
.hero .hero-text,
.hero .hero-btn{
  opacity: 0;
  transform: translateY(-10%);
  transition: opacity 1s ease-out, transform .8s ease-out;
}
.show .hero-text {
  opacity: 1;
  transform: translateY(0);
}
.show .hero-btn{
  opacity: 1;
  transform: translateY(0);
  transition-delay: .5s;
}
.btn--hero{
  color: #232d5a;
  font-weight: 530;
  font-size: 1.05rem;  
  position: relative;
  background-color: transparent;
  cursor: pointer;
}
.btn--hero::before{
  content: "";
  position:absolute;
  width: 100%;
  height:0%;
  background-color: #5fdade;
  border-radius: 3px;
  top: 0;
  left: 0;
  z-index: -1;   
  transition: all .6s cubic-bezier(.19, 1, .22, 1);
}
.btn--hero:hover{
     color: #fff;
}
.btn--hero:hover:before{
  height: 100%;   
  color: #fff; 
}  
